 *{
     margin: 0;
     padding: 0;
 }
 .nj{
     background-color:#F7F7F7;
 }
 .mov{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

.lol{
    color:#dd7632 ;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    width: 300px;
   
  margin-left: 80px;
  
}
.digen{
    color: #dd7632;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mmm{
  
  border-radius: 5%;
   
   
}
.hjh{
    width: 90px;
    
}